@import "./reset.css";

* {
  font: normal 16px Helvetica, Arial, sans-serif;
}

body {
  box-sizing: border-box;
  padding: 10px;
}

h1 {
  color: blue;
  font-size: 48px;
  font-weight: bold;
}

ul ul li {
  /* color: yellow; */
  list-style-position: inside;
  list-style-type: disc;
}